/* PRISM */
/**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*='language-'].line-numbers {
  padding-left: 2.8em;
}

/**
 * If you only want to use line numbering
 */

.gatsby-highlight {
  background-color: #282a36;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  overflow: initial;
}

.command-line-prompt > span:before {
  color: #999;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: '[' attr(data-user) '@' attr(data-host) '] $';
}

/* Prompt for root */
.command-line-prompt > span[data-user='root']:before {
  content: '[' attr(data-user) '@' attr(data-host) '] #';
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}
/* END PRISM */
